# dependencies
/node_modules
/.pnp
.pnp.js

# build
/.next/
/out/

# env & secrets
.env
.env.local
.env.*.local
ssh
*.pdf
BUSINESS_LICENSE*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.idea
.vscode

# typescript
next-env.d.ts
